{% extends "base.html" %}

{% block body %}
<div class='blurred-container' style="height:100%">
    <div class="img-src" style="background-image: url('{{ url_for('static',filename='assets/img/cover_4.jpg') }}')">
  <div class = "container text-center" style="padding-top:15%">
<h1 class="text-center">Sign up</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="signup">
  {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.firstname) }}
    {{ render_field(form.lastname) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <div class="col-md-4 col-md-offset-4  text-center">
    <input class="btn btn-block btn-lg btn-info btn-fill" type="submit" value="Sign up">
  </div>
</form>
</div></div></div>

{% endblock %}
